.menuUno ul{
    list-style-type:none;
}

li{
    padding: 5px;
    text-align: center;
    width: 80%;
    background: white;
    margin-top: 10px;
    /*box-shadow: 10px 5px 5px #00000080;*/
    /*border: 1px solid red;*/
    border-radius: 4px;
}

.menuUno{
    left: 0.7%;
    top: 25%;
    z-index: 2;
}

a{
    text-decoration: none;
    color: #264067;
    font-size: calc(0.45em + 0.45vw);
}

a:hover{
    font-weight: bolder;
}