

.menuStand ul{
    list-style-type:none;
}

li{
    padding: 5px;
    text-align: center;
    width: 100%;
    background: white;
    margin-top: 10px;
    /*box-shadow: 10px 5px 5px #00000080;*/
    /*border: 1px solid red;*/
    border-radius: 4px;
}

.menuStand{
    left: 2%;
    top: 37%;
    z-index: 2;
}

a{
    text-decoration: none;
    color: #264067;
    font-size: calc(0.48em + 0.48vw);
}

a:hover{
    font-weight: bolder;
}