

.menuStand ul{
    list-style-type:none;
}

li{
    padding: 5px;
    text-align: center;
    width: 100%;
    background: white;
    margin-top: 15px;
    /*box-shadow: 10px 5px 5px #00000080;*/
    /*border: 1px solid red;*/
    border-radius: 4px;
}

li:hover{

    background-color: lightgray;
    transition: 0.3s;

}

.menuStand{
    left: 2.5%;
    top: 34%;
    z-index: 2;
}

a{
    text-decoration: none;
    color: #264067;
    font-size: calc(0.41em + 0.41vw);
}

.menuStand span {

    font-size: calc(0.88em + 0.88vw);
    vertical-align: middle;

}

#w-form { display: none;}