.mapa{
    right: 7.5%;
    bottom: 1.5%;
    width: 21.5%;
    height: 30.5%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 24%;
    border-bottom-left-radius: 38%;
    z-index: 2;
}