<section id="redes" class="absoluto redes">
  <ul>
    <li>
      <a href="https://www.facebook.com/ucatolicadepereira/" target="_blank" rel="noopener noreferrer" title="Facebook">
        <img src="./assets/img/general/facebook.png" class="img-fluid box-animated" alt="redes expo virtual ucp">
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/CanalUCP" target="_blank" rel="noopener noreferrer" title="Youtube">
        <img src="./assets/img/general/youtube.png" class="img-fluid box-animated" alt="redes expo virtual ucp">
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/ucatolicadepereira/" target="_blank" rel="noopener noreferrer" title="Instagram">
        <img src="./assets/img/general/instagram.png" class="img-fluid box-animated" alt="redes expo virtual ucp">
      </a>
    </li>
    <li>
      <a href="https://twitter.com/UCatolicaPei" target="_blank" rel="noopener noreferrer" title="Twitter">
        <img src="./assets/img/general/twitter.png" class="img-fluid box-animated" alt="redes expo virtual ucp">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/school/ucatolicadepereira" target="_blank" rel="noopener noreferrer" title="Linkedin">
        <img src="./assets/img/general/linkedin.png" class="img-fluid box-animated" alt="redes expo virtual ucp">
      </a>
    </li>
    <li>
      <a href="https://api.whatsapp.com/send?phone=573013877446" target="_blank" rel="noopener noreferrer" title="Whatsapp">
        <img src="./assets/img/general/whatsapp.png" class="img-fluid box-animated" alt="redes expo virtual ucp">
      </a>
    </li>
  </ul>
</section>