<section id="menDos" class="absoluto menDos">
  <ul>
    <li class="box-animated">
      <a (click)="openPromo('./assets/img/general/directorio.jpg')" style="cursor: pointer;">
        <span class="icon-agenda-4"></span>&nbsp;Directorios
        <!-- <div class="container w-100 mw-100">
          <div class="row">
            <div class="col-4 my-auto px-1">
              <img src="./assets/img/general/directorio.png" class="img-fluid" alt="redes expo virtual ucp">
            </div>
            <div class="col my-auto px-1">
              Directorio
            </div>
          </div>
        </div> -->
      </a>
    </li>
    <!-- <li class="box-animated" style="background:#DD5F60;">
      <a (click)="openGaleria()" style="cursor: pointer;">
        <div class="container w-100 mw-100">
          <div class="row">
            <div class="col-4 my-auto px-1">
              <img src="./assets/img/general/eventos.png" class="img-fluid" alt="redes expo virtual ucp">
            </div>
            <div class="col my-auto px-1">
              Eventos
            </div>
          </div>
        </div>
      </a>
    </li> -->
  </ul>
</section>