.menDos ul{
    list-style-type:none;
}

li{
    padding: 0px;
    text-align: center;
    width: 100%;
    background: white;
    margin-top: 0;
    border-radius: 25px / 25px ;
}

.menDos{
    left: 2.8%;
    bottom: 2%;
    z-index: 2;
    width: 15%;
    height: fit-content;
}

a{
    text-decoration: none;
    color: #264067;
    font-size: calc(0.45em + 0.45vw);

}


.menDos span {

    font-size: calc(1.1em + 1.1vw);
    vertical-align: middle;

}