.menDos ul{
    list-style-type:none;
}

li{
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 10px 5px 5px #00000080;
}

.menDos{
    left: 1.5%;
    bottom: 4%;
    z-index: 2;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    font-weight: bolder;
}