<div class="container w-100 mw-100 h-100">
  <div class="row px-0 h-100">
    <div class="col-12 px-0 h-100 my-auto">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ECXg2sy76no?controls=0?rel=0&amp;autoplay=1&mute=1" allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
      <a [routerLink]="['/experiencia-unica']" title="entrar" class="link2 absoluto btn btn-danger px-3">Entrar</a> 
      <!-- <img src="./assets/img/home/fondo.png" class="img-fluid" alt="fondo entrada expo virtual ucp">
      <img src="./assets/img/home/bot.png" class="bot absoluto box-animated" title="bienvenido" alt="bot expo virtual ucp">
      <a [routerLink]="['/experiencia-unica']" title="entrar" class="link absoluto"></a> -->
    </div>
  </div>
</div>
