
.position {
    position: absolute;
    display: block;
    

}

.ctrl-ubicacion {
    bottom: 10%;
    left: 50%;
    z-index: 5;
}
.btnoferta-ubicacion {
    right: 0;
    bottom: 17%;
    z-index: 5;
}
