
.icon-home-(9):before { content: '\e800'; } /* '' */
.icon-home-(6):before { content: '\e803'; } /* '' */
.icon-home-(5):before { content: '\e804'; } /* '' */
.icon-home-(3):before { content: '\e806'; } /* '' */
.icon-image:before { content: '\e80b'; } /* '' */
.icon-writing-(1):before { content: '\e80d'; } /* '' */
.icon-check-(4):before { content: '\e810'; } /* '' */
.icon-check-box-(1):before { content: '\e811'; } /* '' */
.icon-check-(5):before { content: '\e812'; } /* '' */
.icon-check-(6):before { content: '\e814'; } /* '' */