
  <a-scene>
    <a-assets>
        
        <img id="sky" src="./assets/img/corredor/corredor.JPG" alt="Universidad Católica de Pereira">
        <img id="informacion" src="./assets/img/entrada/informacion.png" alt="Pagos enlínea">
        <img id="play" src="./assets/img/entrada/play.png" alt="Pagos">
        
        <!-- recuadro -->
    <!-- <img id="city-thumb" crossorigin="anonymous" src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/thumb-city.jpg"> -->
    <!-- recuadro -->
    <!-- <img id="cubes-thumb" crossorigin="anonymous" src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/thumb-cubes.jpg"> -->
    <!-- recuadro -->
    <!-- <img id="sechelt-thumb" crossorigin="anonymous" src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/thumb-sechelt.jpg"> -->
    </a-assets>

    


  <!-- <a-entity id="linklogo" template="src: #" layout="type: line; margin: 1.5" position="1 1 -5" data-thumb="#logoucp"></a-entity> -->

  
  <!-- <a-entity color="#FAF9F8"
                    geometry="primitive: plane; color: #ffffff; height: 1; width: auto"
                    position="0.8 2.1 1"
                    rotation="0 185 -1"
                    text="width: 0; color: white;  height: 2; align: center; value: Oficina de Mercadeo"
                    ></a-entity> -->

<!--                     
  <a-image   position="4.5 2.3 2" rotation="0 60 -3" src="#corredor" width="2" height="1" [routerLink]="['/corredor-principal']">
  </a-image> -->
  
  <!-- <a-image position="8 5.4 2" link="href: https://www.pagosvirtualesavvillas.com.co/personal/pagos/8282; title: Pago de inscripciones; color: green;" rotation="1 95 3"></a-image> -->
  <!-- <a-image height="2" position="-2 .4 -9" link="href: feriados.html; title: visita: www.ucp.edu.co; color: red; repeat: 1 2;"></a-image> -->
  

<!-- visit web -->
  <!-- <a-image position="4.2 4 -3" width="2" src="#pageucp" navigate-on-click="url: https:www.ucp.edu.co" rotation="0 -80 0"
  event-set__enter="_event: mouseenter; color: #F9F9F9"  
  event-set__leave="_event: mouseleave; color: #fff">  
   
   <a-animation attribute="position"
   dur="1000"
   fill="forwards"
   to="0 2.5 -6"
   direction="alternate"
   begin="click"></a-animation>
  </a-image> -->


<!-- 
  <a-box color="#ffffff"
                    height="5"
                    width="8.5"
                    position="-7 1.2 -10"
                    rotation="0 200 0"
                    depth="0.5"
                    repeat="1"
                    src="#play"
                    navigate-on-click="url: https://youtu.be/W15wHejwKPc"
                    ></a-box>
 -->

  <!-- button to start visit stands  -->
  <!-- <a [routerLink]="['/experiencia-unica']" title="entrar" class="link2 absoluto btn btn-warning px-3">Ingresar al campus</a> -->

  
  <!-- button to start visit stands  -->
  <a [routerLink]="['/experiencia-unica']" title="entrar" class="position btnoferta-ubicacion btn btn-warning px-3">Conoce nuestra oferta</a>
  <a class="position ctrl-ubicacion absolute px-3"  alt=""><img style="display: block;" src="./assets/img/general/controls.png" alt=""></a>

  <!-- 360-degree image. -->
  <a-sky id="image-360" radius="80" src="#sky"
  animation__fade="property: components.material.material.color; type: color; from: #FFF; to: #000; dur: 300; startEvents: fade"
  animation__fadeback="property: components.material.material.color; type: color; from: #000; to: #FFF; dur: 300; startEvents: animationcomplete__fade"></a-sky>

  
   <!-- 
       The camera has a cursor component,
       which uses the mouse as the rayOrigin,
       so that you can click entities in the scene
       with the mouse.
  -->
  <a-entity id="camera" camera="userHeight: .2" position="0 2 0" rotation="0 89 -3" look-controls cursor="rayOrigin: mouse">
  </a-entity>
</a-scene>

