/* You can add global styles to this file, and also import other style files */
@import url(./fontello-1ca9c8cc/css/fontello.css);


body{
    background: #a9a19c;
}

html,
body {
    height: 100%;
    min-height: 650px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.box-animated:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.box-animated {
    padding: 0;
    transition: transform .5s;
    margin: auto;
}

.absoluto{
    position: absolute;
}

.fotos{
    width: 8%;
    left: 7.6%;
    top: 62%;
    z-index: 5;
}

.fotosStand{
    width: 8%;
    left: 6.5%;
    top: 70%;
    z-index: 5;
}

.video{
    left: 29%;
    top: 40.5%;
    width: 14.5%;
    height: 17.5%;
    z-index: 5;
}

.playgif {
    position: absolute;
    width: 20%;
    top: 39%;
    left: 28%;
    /* height: 288px; */
    /* transform: rotateY(-202deg); */
}
.playgif img {
    width: 75%;
}
.wrappersvglogo img {
    position: absolute;
    width: 13%;
    top: 7.5%;
    left: 4.3%;
}

.play{
    left: 35%;
    top: 46.5%;
    z-index: 2;
}

.mundo{
    left: 36%;
    top: 56.2%;
    z-index: 2;
    width: 7%;
}

.mundo img{

    width: 74%;

}

.rotate {
    -webkit-animation: rotate 5s linear infinite 0s;
    -moz-animation: rotateup 5s linear infinite 0s;
    -o-animation: rotate 5s linear infinite 0s;
    -ms-animation: rotate 5s linear infinite 0s;
    animation: rotate 5s linear infinite 0s;
}


@-webkit-keyframes rotate {
    from {
       -webkit-transform: rotatey(180deg);
     }
     to {
       -webkit-transform: rotateY(360deg);
     }
   
   }

   @-moz-keyframes rotate {
    from {
        -moz-transform: rotateY(180deg);
     }
     to {
        -moz-transform: rotateY(360deg);
     }
   
   }

.folletos{

    left: 53.8%;
    top: 58%;
    z-index: 2;
    width: 7.5%;
    text-align: center;
    color: #237eaa;
    font-weight: 900;

}

.laptop {

    left: 52%;
    top: 58.1%;
    z-index: 2;
    width: 7.6%;
    padding: 0%;

}

.laptop img{

    width: 100%;
    
    
}

swiper{
    height: 100%;
}

.swiper-pagination{position:inherit!important}

#mat-dialog-12363{
    background: #ffffffb8;
}

.home{
    left: 4.5%;
    top: 23.3%;
    width: fit-content;
    background-color: white;
    text-align: center;
    font-size: calc(0.98em + 0.98vw);
    border-radius: 50%;
    padding: 0.2% 0.5% 0.5% 0.5%;
    color: #264067;
}

.homeStand{
    left: 8.9%;
    top: 23.3%;
    width: fit-content;
    background-color: white;
    text-align: center;
    font-size: calc(0.98em + 0.98vw);
    border-radius: 50%;
    padding: 0.2% 0.5% 0.5% 0.5%;
    color: #264067;
    
}

.homeStand:hover{
  
    background-color: lightgray;
    color: white;
    transition: 0.3s;
    
}





/* tooltip */

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-size: 14px;
    font-family: Raleway;
    position: absolute;
    padding: 3px 20px;
    bottom: -1.6em;
    left: 10%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    
}
/* [data-title] {
    position: relative;
} */
/* end tooltip */